{% extends "layout.html" %}

{% set crumb_title = "About Radiotherapy" %}
{% block head_title %}Radiotherapy{% endblock %}

{% block content %}
<div class="container my-5">
  <h1 class="text-center mb-5">About Radiotherapy</h1>
  <div class="card">
    <div class="card-body">
      <p class="card-text">Radiotherapy, also known as radiation therapy, is a treatment modality that uses ionizing
        radiation to kill cancer cells and shrink tumors. It works by damaging the DNA inside the cancer cells, making
        it difficult for them to grow and divide. Radiotherapy is used to treat a variety of cancers, including breast,
        lung, and prostate cancers, among others.</p>
      <p class="card-text">Radiotherapy is delivered externally, using a machine called a linear accelerator, or
        internally, through the placement of radioactive sources in or near the tumor. The treatment is typically given
        5 days a week for several weeks and is usually combined with other cancer treatments such as surgery or
        chemotherapy.</p>
      <p class="card-text">Radiotherapy is a safe and effective treatment option for many patients with cancer, but it
        can cause side effects, such as fatigue, skin irritation, and nausea. Your healthcare team will work with you to
        manage these side effects and ensure that you receive the best possible care during and after your treatment.
      </p>
    </div>
  </div>
</div>
{% endblock %}